<div class="d-flex flex-column h-100">
  <mat-toolbar color="primary" class="flex-shrink-0 shadow">
    <button mat-icon-button class="" *ngIf="isBackButtonVisible" routerLink="/users">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="ms-2">{{communicationService.appTitle$ | async}}</span>

    <div class="ms-auto d-flex">
      <div>
        <button mat-icon-button *ngIf="isSaveChangesButtonVisible && !isUploadSpinnerVisible && !isDoneIconVisible"
          (click)="saveChanges()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <mat-spinner class="me-2" *ngIf="isUploadSpinnerVisible && !isDoneIconVisible" diameter="25" color="accent">
        </mat-spinner>
        <mat-icon *ngIf="isDoneIconVisible" class="me-2 mt-2">done</mat-icon>
      </div>
    </div>
  </mat-toolbar>

  <div style="overflow-y: scroll;" class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
