<main class="p-3 d-flex flex-column" [class.h-100]="userService.isLoadingUsers$ | async"
  [class.justify-content-center]="userService.isLoadingUsers$ | async">

  <mat-spinner *ngIf="userService.isLoadingUsers$ | async" class="mx-auto" diameter="60"></mat-spinner>

  <mat-card *ngFor="let user of users$ | async" class="mt-2">
    <mat-card-header>
      <div mat-card-avatar class="overflow-hidden">
        <img src="../../../assets/images/user.png" alt="User Icon" class="user-image">
      </div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle class="mb-1">{{user.dateOfBirth}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../../assets/images/user.png" alt="User Icon"> -->
    <mat-card-content class="mb-1">
      <p>
        {{user.email}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" [routerLink]="['/edit-user', user.id]">Edit</button>
      <button mat-button color="primary" (click)="deleteUser(user)">Delete</button>
    </mat-card-actions>
  </mat-card>

  <button [routerLink]="['/edit-user', null]" mat-fab color="primary" aria-label="Add User" class="add-user-button">
    <mat-icon>add</mat-icon>
  </button>
</main>
